{% extends 'base.html' %}

{% block main %}
    <h2>Lista de demandas de projetos</h2>
<br>
    {% for demanda in object_list %}
        <a href="{% url 'update_demanda' demanda.id %}">
            {{ demanda }}
        </a>
        <a href="{% url 'delete_demanda' demanda.id %}", class="btn btn-warning">
              Deletar
        </a>
        <br>
    {% endfor %}
<br>
<br>
<h3>Deseja Criar um Nova demanda de projeto?</h3>
    <a href="{% url 'create_demanda' %}" class="btn btn-info">Criar</a>
{% endblock %}