{% extends 'base.html' %}

{% block main %}
    <h2>Lista de Funcionarios</h2>
<br>
    {% for funcionario in object_list %}
        <a href="{% url 'update_funcionario' funcionario.id %}">
            {{ funcionario }}
        </a>
        <a href="{% url 'delete_funcionario' funcionario.id %}", class="btn btn-warning">
              Deletar
        </a>
        <br>
    {% endfor %}
<br>
<br>

    <a href="{% url 'create_funcionario' %}", class="btn btn-info">Novo Funcionairo Público</a><br>
    <br>
    <a href="{% url 'relatoriofuncionarios' %}", class="btn btn-info">
        Relatorio de funcionarios
    </a>

    <a href="{% url 'relatoriofuncionarios_html' %}", class="btn btn-info">
        Relatorio de funcionarios html
    </a>
     <a href="{% url 'relatoriofuncionarios_html_debug' %}", class="btn btn-danger">
        Relatorio de funcionarios html debug
     </a>





{% endblock %}